#kandiKrushGame {
    text-align: center;
}
#kandiKrushBoard {
  margin: 10em auto;
  height: 22em;
  width: 22em;
}

.tile {
    height: 1.75em;
    width: 1.75em;
    border: 1px solid lightgray;
    margin: 1px;
    display: inline-block;
}

.tile:hover {
    cursor: pointer;
}

body {
    background-color: lightpink;
}