body {
    background-color: lightpink;
}

section {
    margin-bottom: -8em;
}

#kandiKrushGame {
    text-align: center;
    font-size: 1.5em;
    color: #BFFF00
}
#kandiKrushBoard {
  margin: 10em auto;
  height: 22em;
  width: 22em;
}

.tile {
    height: 1.75em;
    width: 1.75em;
    border: 1px solid lightgray;
    margin: 1px;
    display: inline-block;
}

.tile.selected {
    border: 3px solid white;
}

.tile:hover {
    cursor: pointer;
}

.toast {
    position: absolute;
    font-size:2em;
    margin: 4em 30%;
    background-color: yellow;
    height: 10em;
    width: 10em;
    border: 1em solid white;
    border-radius: 20px;
    color: #3a33d1;
}
